{% extends "sharkdata_base.html" %}

{% block title %}SHARKdata - Clean up species observations{% endblock %}

{% block header %}Species observations{% endblock %}

{% block content %}
        {% if error_message %}
        <div class="alert alert-danger">
            <strong><i>{{ error_message }}</i></strong>
        </div>
        {% endif %}

        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Sorry, something went wrong.</strong> Please correct the error(s) below and try to submit the form again.
        </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Clean up species observations</h2>
            </div>
            <div class="panel-body">
                <p>Are you sure you want to remove all observations marked as "DELETED"?</p>
                <form class="sharkdata-form" enctype="multipart/form-data" method="post" action="clean_up">
                    {{ form.as_p }}
                    <p class="sharkdata-form-actions">
                        <button class="btn btn-primary" type="submit">Yes</button>
                        <a class="btn btn-default" href="/speciesobs">Cancel</a>
                    </p>
                </form>
            </div>
        </div>
{% endblock %}